.product-card {
  width: 100%;
  padding: var(--fat-space-md);
  border: var(--fat-border-base);
  border-bottom: var(--fat-border-extra);
  overflow: hidden;
}

.product-card__image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  transition: var(--fat-transition-fast-active);
  transform-origin: center;
  overflow: hidden;
}

.product-card__image-link {
  width: 100%;
  display: block;
}

.product-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: var(--fat-transition-fast-active);
  transform-origin: center;
}

.product-card__image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--fat-transition-cubic);
  transform-origin: center;
}

@media (hover: hover) and (pointer: fine) {
  .product-card.hover-active
    .product-card__image-wrapper:hover
    .product-card__image,
  .product-card.hover-active
    .product-card__image-wrapper:hover
    .product-card__image-hover {
    transform: scale(1.05);
    opacity: 1;
  }
}

@media (hover: none) and (pointer: coarse) {
  .product-card__image-wrapper:active .product-card__image,
  .product-card__image-wrapper:active .product-card__image-hover {
    transform: scale(1.05);
    transition: var(--fat-transition-fast-active);
  }
}

.product-card .product-tags {
  position: absolute;
  top: var(--fat-space-md);
  left: var(--fat-space-md);
}
