:root {
  --fat-color-black: #121212;
  --fat-color-white: #ffffff;
  --fat-color-white-soft: #fafafa;
  --fat-color-gray-muted: #999999;
  --fat-color-gray: #e0e0e0;
  --fat-color-gray-soft: #f0f0f0;
  --fat-color-lime-neon: #ebff59;
  --fat-color-lime-pastel: #d0f0c0;
  --fat-color-red-error: #d4302f;

  --fat-color-primary: var(--fat-color-black);
  --fat-color-secondary: var(--fat-color-white);
  --fat-color-accent: var(--fat-color-lime-neon);
  --fat-color-accent-pastel: var(--fat-color-lime-pastel);
  --fat-color-error: var(--fat-color-red-error);
  --fat-color-success: var(--fat-color-lime-pastel);

  --fat-color-text-dark: var(--fat-color-black);
  --fat-color-text-light: var(--fat-color-white);
  --fat-color-text-muted: var(--fat-color-gray-muted);

  --fat-color-background: var(--fat-color-white);
  --fat-color-background-dark: var(--fat-color-black);
  --fat-color-background-accent: var(--fat-color-lime-neon);
  --fat-color-background-accent-pastel: var(--fat-color-lime-pastel);
  --fat-color-background-menus: var(--fat-color-gray-soft);
  --fat-color-surface: var(--fat-color-white);

  --fat-color-background-dark-rgba: rgba(12, 12, 12, 0.4);
  --fat-color-background-accent-rgba: rgba(235, 255, 89, 0.4);
  --fat-color-background-white-mix: color-mix(
    in srgb,
    var(--fat-color-background) 80%,
    transparent
  );
  --fat-color-backgroun-menus-mix: color-mix(
    in srgb,
    var(--fat-color-background-menus) 95%,
    transparent
  );
  --fat-color-background-accent-mix: color-mix(
    in srgb,
    var(--fat-color-background-accent) 80%,
    transparent
  );
  --fat-color-background-accent-pastel-mix: color-mix(
    in srgb,
    var(--fat-color-background-accent-pastel) 80%,
    transparent
  );

  --fat-color-border: var(--fat-color-gray-border);
  --fat-color-hover: var(--fat-color-gray-hover);

  --fat-font-family-primary: "Montserrat", sans-serif; /* Logo */
  --fat-font-family-secondary: "Lato", sans-serif; /* Texto principal */
  --fat-font-family-accent: "Satisfy", cursive; /* Detalles */

  --fat-font-xs: 0.75rem; /* 12px */
  --fat-font-sm: 0.875rem; /* 14px */
  --fat-font-md: 1rem; /* 16px */
  --fat-font-base: 1.125rem; /* 18px */
  --fat-font-lg: 1.25rem; /* 20px */
  --fat-font-xl: 1.5rem; /* 24px */
  --fat-font-2xl: 2rem; /* 32px */
  --fat-font-3xl: 3rem; /* 48px */

  --fat-font-thin: 100;
  --fat-font-extralight: 200;
  --fat-font-light: 300;
  --fat-font-regular: 400;
  --fat-font-medium: 500;
  --fat-font-semibold: 600;
  --fat-font-bold: 700;
  --fat-font-extrabold: 800;
  --fat-font-black: 900;

  --fat-line-height-lg: 2.2;
  --fat-line-height-base: 1.8;
  --fat-line-height-md: 1.5;
  --fat-line-height-sm: 1.2;

  --fat-space-xxs: 0.15rem;
  --fat-space-xs: 0.25rem; /* 4px */
  --fat-space-sm: 0.5rem; /* 8px */
  --fat-space-md: 1rem; /* 16px */
  --fat-space-lg: 1.5rem; /* 24px */
  --fat-space-xl: 2rem; /* 32px */
  --fat-space-2xl: 3rem; /* 48px */
  --fat-space-3xl: 4rem; /* 64px */
  --fat-space-special-cards: var(--fat-space-md) 1.2rem;

  --fat-border-radius-sm: 4px;
  --fat-border-radius-md: 8px;
  --fat-border-radius-lg: 16px;

  --fat-border-radius-button: 60px;
  --fat-border-radius-full: 50%;

  --fat-border-base: 2px solid var(--fat-color-primary);
  --fat-border-extra: 20px solid var(--fat-color-primary);
  --fat-border-extra-accent: 20px solid var(--fat-color-accent);

  --fat-max-width: 1200px;

  --fat-transition-fast-active: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  --fat-transition-fast: 0.2s ease-in-out;
  --fat-transition-slow: 0.4s ease-in-out;
  --fat-transition-cubic: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  --fat-transition-modal: 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;

  --fat-z-fixed: 1000;
  --fat-z-dropdown-overlay: 1499;
  --fat-z-dropdown: 1500;
  --fat-z-modal: 2000;

  --fat-filter-blur: blur(4px);
}

@media (max-width: 768px) {
  :root {
    --fat-font-xs: 0.6875rem; /* 11px */
    --fat-font-sm: 0.75rem; /* 12px */
    --fat-font-md: 0.875rem; /* 14px */
    --fat-font-base: 1rem; /* 16px */
    --fat-font-lg: 1.125rem; /* 18px */
    --fat-font-xl: 1.25rem; /* 20px */
    --fat-font-2xl: 1.5rem; /* 24px */
    --fat-font-3xl: 2.25rem; /* 36px */
  }
}
