.site-whish-list {
  padding: var(--fat-space-2xl);
  /* max-width: 1280px;
  margin: 0 auto; */
}

.site-whish-list__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.3fr));
  gap: var(--fat-space-md);
  grid-auto-flow: row;
}

.site-whish-list__content-empty {
  display: flex;
  flex-direction: column;
  gap: var(--fat-space-md);
}

.site-whish-list__content .button {
  width: fit-content;
}

@media (max-width: 912px) {
  .site-whish-list__content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 768px) {
  .site-whish-list {
    padding: var(--fat-space-lg);
  }
}
