html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  min-height: 100vh;
  color: var(--fat-color-text-dark);
  background-color: var(--fat-color-background);
  font-family: var(--fat-font-family-secondary);
  font-size: var(--fat-font-base);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--fat-color-text-dark);
  margin-bottom: var(--fat-space-xl);
}

p {
  color: var(--fat-color-text-dark);
}

ul,
li {
  color: var(--fat-color-text-dark);
}

strong {
  color: var(--fat-color-text-dark);
}

a {
  color: var(--fat-color-text-dark);
}
/* @media (max-width: 768px) {
  padding: var(--fat-space-lg);
}
 */
